<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
        >

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- ========================= GENERAL DEFINITIONS ========================= -->

    <bean id="backendServiceCredentialsDao" class="com.jakeapp.core.dao.HibernateAccountDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="serviceCredentialsDao" class="com.jakeapp.core.dao.ThreadedAccountDao">
        <constructor-arg index="0" ref="backendServiceCredentialsDao" type="com.jakeapp.core.dao.IAccountDao"/>
    </bean>

    <bean id="backendProjectDao" class="com.jakeapp.core.dao.HibernateProjectDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="projectDao" class="com.jakeapp.core.dao.ThreadedProjectDao">
        <constructor-arg index="0" ref="backendProjectDao" type="com.jakeapp.core.dao.IProjectDao"/>
    </bean>

    <bean id="backendConfigurationDao" class="com.jakeapp.core.dao.HibernateConfigurationDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="configurationDao" class="com.jakeapp.core.dao.ThreadedConfigurationDao">
        <constructor-arg index="0" ref="backendConfigurationDao" type="com.jakeapp.core.dao.IConfigurationDao"/>
    </bean>


    <bean id="backendInvitationDao" class="com.jakeapp.core.dao.HibernateInvitationDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>


    <bean id="invitationDao" class="com.jakeapp.core.dao.ThreadedInvitationDao">
        <constructor-arg index="0" ref="backendInvitationDao" type="com.jakeapp.core.dao.IInvitationDao"/>
    </bean>

</beans>
