<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true"
       >

    <bean id="applicationContextFactory" class="com.jakeapp.core.util.ProjectApplicationContextFactory">
        <description>The factory to create and configure application contexts</description>
        <constructor-arg index="0" ref="projectDao" type="com.jakeapp.core.dao.IProjectDao"/>

        <property name="configLocation">
            <list>
                <value>/com/jakeapp/core/applicationContext-local-datasource.xml</value>
                <value>/com/jakeapp/core/applicationContext-local-daos.xml</value>
            </list>
        </property>
    </bean>

    <bean id="userTranslator" class="com.jakeapp.core.synchronization.UserTranslator">
        <constructor-arg ref="applicationContextFactory" index="0"
                         type="com.jakeapp.core.util.ProjectApplicationContextFactory"/>
        <constructor-arg ref="userIdDao" index="1"
                         type="com.jakeapp.core.dao.IUserIdDao"/>
    </bean>

    <bean id="xmppServiceHolder" class="com.jakeapp.core.integration.XMPPICServiceHolder" />


</beans>