<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
        >

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="projectsFileServices"
          class="com.jakeapp.core.services.ProjectsFileServicesImpl"/>

    <bean id="msgService" class="com.jakeapp.core.services.MsgService"
          abstract="true">

    </bean>

    <bean id="icsManager" class="com.jakeapp.core.services.FailoverICSManager"
          scope="singleton">

    </bean>
    
    <bean id="coreProjectInvitationListener" class="com.jakeapp.core.services.ProjectInvitationListener">
        <constructor-arg index="0" ref="invitationDao" />
        <constructor-arg index="1" ref="applicationContextFactory" />
    </bean>

    <bean id="msgServiceManager" class="com.jakeapp.core.services.MsgServiceManager">
        <constructor-arg index="0" type="com.jakeapp.core.services.ICSManager" ref="icsManager" />
        <constructor-arg index="1" type="com.jakeapp.core.dao.IAccountDao" ref="accountDao" />
        <constructor-arg index="2" type="com.jakeapp.core.services.IProjectInvitationListener" ref="coreProjectInvitationListener" />
        <!--<property name="accountDao" ref="accountDao"/>-->
        <!--<property name="ICSManager" ref="icsManager"/>-->
        <!--<property name="coreProjectInvitationListener" ref="coreProjectInvitationListener" />-->
    </bean>
    
    <!-- TODO later: change to TrustAware -->
    <bean id="requestHandlePolicy" class="com.jakeapp.core.synchronization.request.TrustAllRequestHandlePolicy">
        <constructor-arg index="0" ref="applicationContextFactory"
                         type="com.jakeapp.core.util.ProjectApplicationContextFactory"/>
        <constructor-arg index="1" ref="projectsFileServices"
                         type="com.jakeapp.core.services.IProjectsFileServices"/>
    </bean>
    
    <bean id="syncService" class="com.jakeapp.core.synchronization.SyncServiceImpl">
        <property name="applicationContextFactory" ref="applicationContextFactory"/>
        <property name="requestHandlePolicy" ref="requestHandlePolicy"/>
        <property name="projectsFileServices" ref="projectsFileServices"/>
        <property name="ICSManager" ref="icsManager"/>
        <property name="messageMarshaller" ref="messageMarshaller" />
    </bean>


    <bean id="projectsManagingService"
          class="com.jakeapp.core.services.ProjectsManagingServiceImpl">
        <constructor-arg ref="applicationContextFactory" index="0"
                         type="com.jakeapp.core.util.ProjectApplicationContextFactory"/>
        <constructor-arg ref="msgServiceManager" index="1"
                         type="com.jakeapp.core.services.MsgServiceManager"/>

        <property name="projectDao" ref="projectDao"/>
        <property name="accountDao" ref="accountDao"/>
        <property name="applicationContextFactory" ref="applicationContextFactory"/>
        <property name="syncService" ref="syncService"/>
        <property name="projectsFileServices" ref="projectsFileServices"/>
        <property name="invitationDao" ref="invitationDao" />
    </bean>


    <bean id="frontendService" class="com.jakeapp.core.services.FrontendServiceImpl">
        <constructor-arg index="0" ref="projectsManagingService"
                         type="com.jakeapp.core.services.IProjectsManagingService"/>
        <constructor-arg index="1" ref="msgServiceManager"
                         type="com.jakeapp.core.services.MsgServiceManager"/>
        <constructor-arg index="2" ref="syncService" 
                         type="com.jakeapp.core.synchronization.IFriendlySyncService" />
        <constructor-arg index="3" ref="accountDao"
                         type="com.jakeapp.core.dao.IAccountDao" />
    </bean>

</beans>
