<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="projectDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          scope="prototype"
          lazy-init="true"

            >
        <description>basic memory DB data source</description>
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url"
                  value="jdbc:hsqldb:file:.jake/${db_path};shutdown=false;create=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
        <!--        <property name="connectionProperties">
            <props>
                <prop key="shutdown">true</prop>
            </props>
        </property>-->
    </bean>


    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="annotatedClasses">
            <list>
                <value>com.jakeapp.core.domain.Project</value>
                <value>com.jakeapp.core.domain.Account</value>
                <value>com.jakeapp.core.domain.User</value>

                <value>com.jakeapp.core.domain.JakeObject</value>
                <value>com.jakeapp.core.domain.NoteObject</value>
                <value>com.jakeapp.core.domain.FileObject</value>
                <value>com.jakeapp.core.domain.Tag</value>
                <!--<value>com.jakeapp.core.domain.logentries.LogEntry</value>-->
                <value>com.jakeapp.core.domain.logentries.JakeObjectLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.JakeObjectDeleteLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.JakeObjectLockLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.JakeObjectUnlockLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.JakeObjectNewVersionLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.ProjectLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.ProjectCreatedLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.ProjectJoinedLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.ProjectMemberLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.StartTrustingProjectMemberLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.StopTrustingProjectMemberLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.FollowTrustingProjectMemberLogEntry</value>                                
                <value>com.jakeapp.core.domain.logentries.TagLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.TagAddLogEntry</value>
                <value>com.jakeapp.core.domain.logentries.TagRemoveLogEntry</value>
            </list>
        </property>
        <property name="configurationClass"
                  value="org.hibernate.cfg.AnnotationConfiguration"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect
                </prop>
                <!--<prop key="hibernate.hbm2ddl.auto">create</prop>-->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.current_session_context_class">
                    thread
                </prop>

                <!--<prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate3.SpringSessionContext
                </prop>-->
                <prop key="hibernate.transaction.factory_class">
                    org.hibernate.transaction.JDBCTransactionFactory
                </prop>
                <prop key="hibernate.default_batch_fetch_size">0</prop>
                <prop key="hibernate.jdbc.batch_size">0</prop>
            </props>
        </property>
        <property name="dataSource" ref="projectDataSource"/>
        <property name="schemaUpdate" value="false"/>

    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="hibernateTemplate"
          class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
