<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <import resource="applicationContext-global-datasource.xml"/>
    <import resource="applicationContext-global-daos.xml"/>

    <import resource="applicationContext-components.xml"/>

    <!--<import resource="applicationContext-services.xml"/>-->


    <bean id="projectsFileServices" class="com.jakeapp.core.services.ProjectsFileServicesImpl"/>

    <bean id="syncService" class="com.jakeapp.core.synchronization.SyncServiceImpl">
        <property name="db" ref="applicationContextFactory"/>
        <property name="icServicesManager" ref="icServiceManager"/>
        <property name="userTranslator" ref="userTranslator"/>
        <property name="projectsFileServices" ref="projectsFileServices" />
    </bean>


    <bean id="noteManagingService" class="com.jakeapp.core.services.NoteManagingService">
      <constructor-arg ref="applicationContextFactory" index="0"
                       type="com.jakeapp.core.util.ProjectApplicationContextFactory"/>
    </bean>


    <bean id="projectsManagingService" class="com.jakeapp.core.services.ProjectsManagingServiceImpl">
        <property name="projectDao" ref="projectDao"/>
        <property name="applicationContextFactory" ref="applicationContextFactory"/>
        <property name="syncService" ref="syncService" />
        <property name="projectsFileServices" ref="projectsFileServices" />
        <property name="noteManagingService" ref="noteManagingService" />
    </bean>

    <bean id="msgService" class="com.jakeapp.core.services.MsgService" abstract="true">

    </bean>


    <bean id="msgServiceFactory" class="com.jakeapp.core.services.MsgServiceFactory">
        <constructor-arg index="0" ref="accountDao"
                         type="com.jakeapp.core.dao.IAccountDao" />
    </bean>


    <bean id="frontendService" class="com.jakeapp.core.services.FrontendServiceImpl">
        <constructor-arg ref="projectsManagingService" index="0"
                         type="com.jakeapp.core.services.IProjectsManagingService"/>
        <constructor-arg ref="msgServiceFactory" index="1"
                         type="com.jakeapp.core.services.MsgServiceFactory"/>
        <constructor-arg ref="syncService" index="2" type="com.jakeapp.core.synchronization.IFriendlySyncService" />
	<constructor-arg index="3" ref="accountDao"
                         type="com.jakeapp.core.dao.IAccountDao" />
    </bean>


    <bean id="icServiceManager" class="com.jakeapp.core.services.ICServicesManager">

    </bean>



    <bean name="rmiProjectsManagingService" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="projectsManagingService" />
        <property name="serviceInterface" value="com.jakeapp.core.services.IProjectsManagingService" />
    </bean>










    <bean name="rmiFrontendService" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="jakeFrontendService"/>
        <property name="service" ref="frontendService"/>
        <property name="serviceInterface" value="com.jakeapp.core.services.IFrontendService"/>


        <!-- this creates a new registry on port 18000 -->
        <property name="registryPort" value="18000"/>
        <!--<property name="registryHost" value="127.0.0.1" />-->
        <property name="alwaysCreateRegistry" value="true"/>

    </bean>


</beans>
