<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="applicationContextFactory" class="com.jakeapp.core.util.ApplicationContextFactory">
        <description>The factory to create and configure application contexts</description>
        <property name="configLocation">
            <list>
                <value>/com/jakeapp/core/applicationContext-local-datasource.xml</value>
                <value>/com/jakeapp/core/applicationContext-local-daos.xml</value>
            </list>
        </property>
    </bean>

    <bean id="syncService" class="com.jakeapp.core.synchronization.SyncServiceImpl">
        <property name="applicationContextFactory" ref="applicationContextFactory"/>
        <property name="icServicesManager" ref="icServiceManager"/>

    </bean>

    <bean id="projectsManagingService" class="com.jakeapp.core.services.ProjectsManagingServiceImpl">
        <property name="projectDao" ref="projectDao"/>
        <property name="applicationContextFactory" ref="applicationContextFactory"/>
        <property name="syncService" ref="syncService"/>
    </bean>

    <!-- this is per session and a very internal part of the core that can not
      be replaced and does not have to be injected, so I'll will hardwire it
     <bean id="syncService" class="com.jakeapp.core.synchronization.SyncServiceImpl">

     </bean>
     -->

    <bean id="msgService" class="com.jakeapp.core.services.MsgService" abstract="true">

    </bean>


    <bean id="msgServiceFactory" class="com.jakeapp.core.services.MsgServiceFactory">
        <constructor-arg index="0" ref="serviceCredentialsDao"
                         type="com.jakeapp.core.dao.IServiceCredentialsDao"/>
    </bean>


    <bean id="frontendService" class="com.jakeapp.core.services.FrontendServiceImpl">
        <constructor-arg ref="projectsManagingService" index="0"
                         type="com.jakeapp.core.services.IProjectsManagingService"/>
        <constructor-arg ref="msgServiceFactory" index="1"
                         type="com.jakeapp.core.services.MsgServiceFactory"/>
        <constructor-arg ref="syncService" index="2" type="com.jakeapp.core.synchronization.IFriendlySyncService" />
    </bean>


    <bean id="icServiceManager" class="com.jakeapp.core.services.ICServicesManager">

    </bean>


    <!--<bean id="friendlySyncService" class="com.jakeapp.core.synchronization.SyncServiceImpl">-->
    <!--<constructor-arg>-->
    <!--< -->
    <!---->
    <!--</constructor-arg>-->
    <!---->
    <!--</bean>-->


</beans>
