<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!-- local stuff -->
    <bean id="projectMemberDao" class="com.jakeapp.core.dao.HibernateProjectMemberDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="noteObjectDao" class="com.jakeapp.core.dao.HibernateNoteObjectDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="fileObjectDao" class="com.jakeapp.core.dao.HibernateFileObjectDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="logEntryDao" class="com.jakeapp.core.dao.HibernateLogEntryDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>


</beans>