<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       >

    <bean id="applicationContextFactory" class="com.jakeapp.core.util.ProjectApplicationContextFactory">
        <description>The factory to create and configure application contexts</description>
        <constructor-arg index="0" ref="projectDao" type="com.jakeapp.core.dao.IProjectDao"/>
        <constructor-arg ref="sessionFactory"/>

        <property name="configLocation">
            <list>
                <value>/com/jakeapp/core/applicationContext-local-datasource.xml</value>
                <value>/com/jakeapp/core/applicationContext-local-daos.xml</value>
            </list>
        </property>
        
    </bean>

    <bean id="logEntrySerializer" class="com.jakeapp.core.domain.LogEntrySerializer">
        <property name="applicationContextFactory" ref="applicationContextFactory" />
        <property name="projectDao" ref="projectDao" />
    </bean>


    <bean id="messageMarshaller" class="com.jakeapp.core.synchronization.helpers.MessageMarshaller">
        <constructor-arg ref="logEntrySerializer" />
    </bean>

</beans>
