<?xml version="1.0" encoding="UTF-8"?>

<!--
  Main Application Context
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-lazy-init="true"
        >

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <import resource="applicationContext-global-datasource.xml"/>
    <import resource="applicationContext-global-daos.xml"/>
    <import resource="applicationContext-components.xml"/>
    <import resource="applicationContext-services.xml"/>
</beans>
