<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- We still need to figure out a way of having seperate DB files for each project -->
	<bean id="hsqldbDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:target/classes/data/db" />
		<property name="username" value="sa" />
		<property name="password" value="" />
		<property name="connectionProperties">
			<props>
				<prop key="shutdown">true</prop>
			</props>
		</property>
	</bean>

	<bean id="ProjectMemberDAO"
		class="com.doublesignal.sepm.jake.core.dao.JdbcProjectMemberDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>

	<bean id="JakeObjectDAO"
		class="com.doublesignal.sepm.jake.core.dao.JdbcJakeObjectDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>

	 <bean id="LogEntryDAO"
		class="com.doublesignal.sepm.jake.core.dao.JdbcLogEntryDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>
	<bean id="FSService"
			class="com.doublesignal.sepm.jake.fss.FSService"
			singleton="true">
	</bean>
	<bean id="ICService"
			class="com.doublesignal.sepm.jake.ics.MockICService"
			singleton="true">
	</bean>
	<bean id="SyncService"
			class="com.doublesignal.sepm.jake.sync.MockSyncService"
			singleton="true">
			
			<property name="ICService" ref="ICService"/>
			<property name="FSService" ref="FSService"/>
	</bean>

	<!--
		<bean id="exampleBean" class="examples.ExampleBean">
		
		  -- constructor injection using the nested <ref/> element --
		  <constructor-arg><ref bean="anotherExampleBean"/></constructor-arg>
		  
		  -- constructor injection using the neater 'ref' attribute --
		  <constructor-arg ref="yetAnotherBean"/>
		  
		  <constructor-arg type="int" value="1"/>
		</bean>
	-->
</beans>
