availablelater/target/
commander/.classpath
commander/.project
commander/.settings/
commander/target/
core/.classpath
core/.jake/
core/.project
core/.settings/
core/fulljake.log
core/jake.log
core/target/
fss/target/
gui/.classpath
gui/.project
gui/.settings/
gui/target/
ics-xmpp/.classpath
ics-xmpp/.project
ics-xmpp/.settings/
ics-xmpp/target/
ics/.classpath
ics/.project
ics/.settings/
ics/target/
