        -----------
        Donate

Donations

  * Jake is short of developers and time. We would appreciate your time. Contact us!
  
  * If you are not a developer, but a user, you are even more valuable to us!
    Help us test Jake, suggest ideas, and spread the word. Contact us!
  
  
