        -----------
        Downloads

Simple

  * Download and start Jake
  
  * LogIn or register (it's free, and you can use your google account!
  
  * Drop a directory into the app
  
  * Invite some people

Download

   more to come as we progress the development.
   
   {{{http://sourceforge.net/api/file/index/project-id/555884/mtime/desc/limit/20/rss}Subscribe to releases folder}}


March 2009 pre-release

   * {{{http://sourceforge.net/projects/jakeapp/files/releases/2009-March/090324171620_Jake.exe/download}Windows XP/Vista}}
   
   * {{{http://sourceforge.net/projects/jakeapp/files/releases/2009-March/090324171756_Jake.dmg/download}Mac OS 10.5, Intelx64}}
   
   * {{{http://sourceforge.net/projects/jakeapp/files/releases/2009-March/090324171822_jake.bin/download}Linux, Generic}}
   
   * {{{http://sourceforge.net/projects/jakeapp/files/releases/2009-March/090324171957_jake-current.jar/download}Just the jar please}}

   Quite old now, but works.
   
   Many things will be redone, but it illustrates the idea well.

   * {{{http://www.java.com/en/download/index.jsp}You need Java 6 - download now!}}
