          -------------
          About Jake
          -------------


Create. Invite. Share.

  <<Jake>> is a collaborative file sharing tool that allows you to securely and easily share files on your computer with other people. <<Just drag a folder into Jake, invite your friends or co-workers and start sharing!>>

  {{{download.html}Download Jake Pre-release version built March 23, 2009}}
  
 * <Synchronize with ease>  
	  
[images/features_sync.png] Sync

     Ever needed to work on an assignment with your classmates? Or share some documents with your co-workers on another continent? Maybe you just need a foolproof way of keeping your work on two computers in sync? Then Jake is for you.

 * <No storage server required>  

[images/features_noserver.png] no server

     Jake is a revolutionary new way of sharing files between people that doesn't require anything more than a Jabber instant messaging account (which you may even already have).

     Why use a central server that can crash and lose your files? Your team owns your data, and we pride ourselves in keeping it this way.

 * <Plays well with others>  

[images/features_allos.png] all operating systems

     Windows user? Linux nerd? Mac fanboy? We've got you covered. Jake runs on all platforms you can think of. Well, except the iPhone. Unless Apple decides to donate six iPhones to us.
Feature Icon Keep track of your projects

 * <Keep track of your projects>  

[images/features_events.png] Keep track of your projects

     Lost? No problem. Jake's simple timeline allows you to see what has recently changed in your project.

 * <Secure transfers>  

[images/features_security.png] Security

     So the CIA won't read your grocery list. Or your WLAN-sniffing neighbor. Legal notice: Tinfoil hat not included.
  
 * <Not just free. Open.>  

[images/features_opensource.png] Open source

     Because we love open source software as much as you do. This allows you to customise Jake to your needs, or just take a peek if you're curious.

 * <Buzz about Jake>  

[images/buzz.png] Buzz about Jake
  
  {{{feed://search.twitter.com/search.atom?q=jakeapp}Keep up with the buzz}}

