<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--<bean id="translationProvider"
			class="com.doublesignal.sepm.jake.gui.i18n.SimpleXmlTranslationProvider"
			singleton="true">
		<property name="language" value="/lang.xml" />
	</bean>-->
	<bean id="translationProvider"
			class="com.doublesignal.sepm.jake.gui.i18n.TextTranslationProvider"
			singleton="true">
		<property name="language" value="lang-xxx.txt" />
	</bean>

	<!-- unfortunately, we have to repeat ourselves here (copied from core) -->
    <bean id="hsqldbDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url">
			<value>jdbc:hsqldb:mem:db</value>
		</property>
		
		<property name="username" value="sa" />
		<property name="password" value="" />
		<property name="connectionProperties">     
			<props>
				<prop key="shutdown">true</prop>
			</props>
		</property>
	</bean>
	
	
	
	<bean id="ProjectMemberDao"
		class="com.doublesignal.sepm.jake.core.dao.JdbcProjectMemberDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>

	<bean id="JakeObjectDao"
		class="com.doublesignal.sepm.jake.core.dao.JdbcJakeObjectDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>

	 <bean id="LogEntryDao"
		class="com.doublesignal.sepm.jake.core.dao.JdbcLogEntryDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>
    
    <bean id="ConfigurationDao"
		class="com.doublesignal.sepm.jake.core.dao.JdbcConfigurationDao"
		singleton="true">
		<property name="dataSource" ref="hsqldbDataSource" />
	</bean>
	
    <bean id="JakeDatabase"
		class="com.doublesignal.sepm.jake.core.dao.HsqlJakeDatabase"
		singleton="true">
		<!--<property name="logEntryDao"      ref="LogEntryDao" />
		<property name="jakeObjectDao"    ref="JakeObjectDao" />
		<property name="configurationDao" ref="ConfigurationDao" />
		<property name="projectMemberDao" ref="ProjectMemberDao" />-->
	</bean>
	
	
	
    <bean id="FSService"
			class="com.doublesignal.sepm.jake.fss.FSService"
			singleton="true">
	</bean>
	<bean id="ICService"
			class="com.doublesignal.sepm.jake.ics.MockICService"
			singleton="true">
	</bean>
	<bean id="SyncService"
			class="com.doublesignal.sepm.jake.sync.MockSyncService"
			singleton="true">
			
			<property name="ICService" ref="ICService"/>
			<property name="FSService" ref="FSService"/>
	</bean>
</beans>
