<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--<bean id="translationProvider"
			class="com.doublesignal.sepm.jake.gui.i18n.SimpleXmlTranslationProvider"
			singleton="true">
		<property name="language" value="lang.xml" />
	</bean>-->
	<bean id="translationProvider"
			class="com.doublesignal.sepm.jake.gui.i18n.TextTranslationProvider"
			singleton="true">
		<property name="language" value="src/main/resources/lang-test.txt" />
	</bean>

	<!-- unfortunately, we have to repeat ourselves here (copied from core) -->
	<bean id="FSService"
			class="com.doublesignal.sepm.jake.fss.FSService"
			singleton="true">
	</bean>
	<bean id="ICService"
			class="com.doublesignal.sepm.jake.ics.MockICService"
			singleton="true">
	</bean>
	<bean id="SyncService"
			class="com.doublesignal.sepm.jake.sync.MockSyncService"
			singleton="true">
			
			<property name="ICService" ref="ICService"/>
			<property name="FSService" ref="FSService"/>
	</bean>
</beans>