<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--<bean id="translationProvider"
			class="com.doublesignal.sepm.jake.gui.i18n.SimpleXmlTranslationProvider"
			singleton="true">
		<property name="language" value="lang.xml" />
	</bean>-->
	<bean id="translationProvider"
			class="com.doublesignal.sepm.jake.gui.i18n.TextTranslationProvider"
			singleton="true">
		<property name="language" value="src/main/resources/lang-test.txt" />
	</bean>
</beans>