          --------------------
          About the GUI
          --------------------

The GUI

  The GUI of Jake is a master-piece of user-interface design, mainly by 
  Peter Steinberger.
  
  However, it is in need for a little love at the moment. 
  I still have hope we can motivate Peter to have another look at it.


