<?xml version="1.0" encoding="UTF-8"?>
<!--xmlns:context="http://www.springframework.org/schema/context"-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="applicationContextFactory" class="com.jakeapp.core.util.ApplicationContextFactory">
		<description>The factory to create and configure application contexts</description>
		<property name="configLocation">
			<value>applicationContextFactory_test_context.xml</value>
		</property>
	</bean>
		
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="prototype">
    	<description>basic memory DB data source</description>
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:test/${db_path}"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
        <property name="connectionProperties">
            <props>
                <prop key="shutdown">true</prop>
            </props>
        </property>
    </bean>

</beans>
